.formContainer {
  padding: 10px 20%;
  @media only screen and (max-width: 600px) {
    padding: 10px 0;
  }
  fieldset {
    margin-bottom: 50px;
    .formDiv {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      margin-top: 20px;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
      label {
        width: 30%;
        @media only screen and (max-width: 600px) {
          padding-bottom: 20px;
          width: 100%;
        }
      }
      input, textarea {
        width: 70%;
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
      textarea {
        height: 100px;
      }
    }
    .error {
      color: #ff0000;
    }
  }
  .formButton {
    background: #cc4d29;
    border: none;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: #e4461b;
    }
  }
}
